
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming

/* You can add global styles to this file, and also import other style files */
@import "flatpickr/dist/flatpickr.css";

@import "tailwindcss";

@theme {
    --color-primary: #264D72;
    --color-secondary: #01AFF1;
    --color-terciary: #F7941F;
    --color-primary-light: #F0F9FF;
    --color-terciary-light: #FFFAF0;
    --color-secondary-light: #E6F7FF;
}
html, body { height: 100%; }
